<section>
    <div class="background-gradient">
        <p class="motto">Better Every Day.</p>
        <div class="social-icons flex-grid center">
            <a class="icon">
                <i class=" fab fa-medium-m"></i>
            </a>
            <a class="icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="icon">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        <span class="copy">&copy;2019</span>
    </div>
</section>