<section>
    <div class="background-gradient">

        <div class="scroll-down">
            <span>Scroll down <i class="fas fa-chevron-down"></i></span>
        </div>
        <div class="about p-b-xl">
            <h2>About Me</h2>
            <p>{{resumeService.resume.about}}</p>
        </div>
        <div class="overlap-spacing"></div>
    </div>

    <div class="row info-box content-padding overlap-previous">
        <div *ngFor="let exp of resumeService.resume.experience" class="col-12 col-md-4">
            <i [ngClass]="exp.positionIcon"></i>
            <h3>{{exp.position}}</h3>
            <p>{{exp.description}}</p>
            <h4>{{exp.skillsTitle}}</h4>
            <p>{{exp.skills}}</p>
            <h4>{{exp.supportingDetailsTitle}}</h4>
            <ul>
                <li *ngFor="let detail of exp.supportingDetails">{{detail}}</li>
            </ul>
        </div>
    </div>
</section>