<section>
    <div class="background-gradient">

        <div class="scroll-down">
            <span>Scroll down <i class="fas fa-chevron-down"></i></span>
        </div>
        <div class="about p-b-xl">
            <h2>About Me</h2>
            <p>{{resumeService.resume.about}}</p>
        </div>
        <div class="overlap-spacing"></div>
    </div>

    <div class="row info-box content-padding overlap-previous">
        <div class="col-12 col-md-4">
            <i class="fas fa-user-tie"></i>
            <h3>Consultant</h3>
            <p>
                Consulting experience here...
            </p>
            <h4>Consulting Skills</h4>
            <p>
                Project Management, Systems and Specification Auditing, Prototyping, Research
            </p>
            <h4>Previous Clients</h4>
            <ul>
                <li>GSMA</li>
                <li>Leaf</li>
                <li>SafeWater Network</li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-laptop-code"></i>
            <h3>Front-End</h3>
            <p>
                Front-end experience here...
            </p>
            <h4>Languages</h4>
            <p>
                JavaScript, TypeScript, HTML, CSS, SCSS
            </p>
            <h4>Preferred Tools</h4>
            <ul>
                <li>Visual Studio Code</li>
                <li>Angular</li>
                <li>RxJS</li>
                <li>Github</li>
                <li>Bitbucket</li>
                <li>d3.js</li>
                <li>Vega</li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-server"></i>
            <h3>Back-End</h3>
            <p>
                Back-end experience here...
            </p>
            <h4>Languages</h4>
            <p>
                Python, JavaScript, Java, SQL
            </p>
            <h4>Preferred Tools</h4>
            <ul>
                <li>AWS</li>
                <li>Google Cloud</li>
                <li>FastAPI</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>Jenkins</li>
            </ul>
        </div>
    </div>
</section>