<nz-modal [(nzVisible)]="isVisible" [nzTitle]="project ? project.name : ''" (nzOnCancel)=" handleCancel()">
    <div *ngIf="project">
        <nz-carousel nzEffect="scrollx">
            <div nz-carousel-content class="content-padding" *ngFor="let image of project.images">
                <img class="project-img" [src]="image">
            </div>
        </nz-carousel>
        <p>Modal Content</p>
        <p>Modal Content</p>
        <p>Modal Content</p>
        <p>Modal Content</p>
    </div>
    <div class="footer" *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()">Custom Submit</button>
    </div>
</nz-modal>