<section class="spacing-xl">
    <H1>
        Testimonials<br>
        <small>Some nice things people I've worked with have said:</small>
    </H1>

    <nz-carousel nzEffect="scrollx">
        <div nz-carousel-content class="content-padding" *ngFor="let testimonial of resumeService.resume.testimonials">
            <img class="profile-img" [src]="testimonial.photo">
            <p class="quote p-b-md" *ngFor="let paragraph of testimonial.testimonial; let i = index">
                {{i===0?"\"": ""}}{{paragraph}}{{i===testimonial.testimonial.length-1?"\"": ""}}
            </p>
            <span>{{testimonial.name}}</span>
            <p>{{testimonial.position}}</p>
        </div>
    </nz-carousel>
</section>