body {
  font-family: "lato";
  margin: 0 -5px;
  margin: 0;
  color: unset;
  font-size: unset;
  font-variant: unset;
  line-height: unset;
  background-color: unset;
  -webkit-font-feature-settings: unset;
  font-feature-settings: unset;
}

section {
  text-align: center;
}
.center {
  text-align: center;
}

@mixin width {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content-padding {
  @include width;
}

a {
  text-decoration: none;
}

.spacing-xxxs {
  margin: 0.5em auto !important;
}
.spacing-xxs {
  margin: 1em auto !important;
}
.spacing-xs {
  margin: 2em auto !important;
}
.spacing-sm {
  margin: 3em auto !important;
}
.spacing-md {
  margin: 4em auto !important;
}
.spacing-lg {
  margin: 5em auto !important;
}
.spacing-xl {
  margin: 7em auto !important;
}
.spacing-xxl {
  margin: 9em auto !important;
}

p,
li {
  line-height: 1.75em;
  letter-spacing: 0.1em;
  font-weight: lighter;
}

p {
  margin-top: unset;
  margin-bottom: 35px;
}

.background-gradient {
  background-image: -webkit-gradient(linear, top right, bottom left, from(rgb(9, 121, 65)), to(#293846));
  background-image: linear-gradient(to bottom right, #097941, #293846);
  background-color: #2f4050;
  color: white !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white !important;
  }
}

/* overlap */
$overlap: 7em;

.overlap-spacing {
  height: $overlap;
}
.overlap-previous {
  margin-top: -$overlap;
}

/* Info Box */

$border-color: #dddddd;
$border-radius: 10px;

.info-box {
  margin-bottom: 50px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: white;
}

.info-box > * > i {
  margin-top: 15px;
  font-size: 30px;
}

.row > * {
  padding: 25px;
}
@media (min-width: 768px) {
  .row > *:not(:last-child) {
    border-right: 1px solid $border-color;
  }

  .row > *:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  .row > *:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
@media (max-width: 768px) {
  .row > *:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  .row > *:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  .row > *:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

/* Flex Grid */

$grid-spacing-md: 0.75em;
$grid-spacing-xl: 1.75em;

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.flex-grid.center {
  justify-content: center;
}

.grid-spacing-md.flex-grid {
  margin: -$grid-spacing-md;
}

.grid-spacing-md.flex-grid > * {
  padding: $grid-spacing-md;
}
.grid-spacing-xl.flex-grid {
  margin: -$grid-spacing-xl;
}

.grid-spacing-xl.flex-grid > * {
  padding: $grid-spacing-xl;
}

.third-width {
  width: 33.3%;
}
.quarter-width {
  width: 25%;
}

.card-content {
  padding: 25px;
}
.card-content > img {
  max-height: 130px;
  max-width: 100%;
  object-fit: contain;
}

.rounded-corners {
  border-radius: $border-radius;
}

/* Buttons */
$border: 3px;
.btn {
  border-radius: 100%;
  cursor: pointer;
}

.btn-primary {
  display: flex !important;
  align-items: center;
  margin: auto;
  max-width: 22em;

  position: relative;
  padding: 0.5em 2em;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 17px;
  color: #385f46;
  background: white;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 6em;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to bottom right, #097941, #293846) !important;
  }
  &:hover {
    background: transparent;
    color: white;
  }
}
.btn-secondary {
  display: flex !important;
  align-items: center;
  margin: auto;
  max-width: 22em;

  position: relative;
  padding: 0.5em 2em;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 17px;
  color: #385f46;
  background: white;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 6em;

  &:hover {
    text-decoration: underline;
  }
}
